{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center my-5">CatalogueFilms</h1>

    <div>
    {% for film in films %}
        <a href="{{ path('app_film_show', {'id': film.id}) }}" class="btn btn-primary mx-2">{{ film.titre }}</a>
    {% endfor %}
    </div>

</div>
{% endblock %}
